# nextflow generated stuff
*work
.nextflow
.nextflow.log*
.nextflow*
trace-*.txt
# user-related stuff
bin/
*results*
*RESULTS*
output*
moose_stuff/
*.i
*.csv
*.cub5
*-opt
.jitcache
*.jsonc
*.json
*runJob*
stderr*
stdout*
run_case*
*.png
basedir

*example*
*.log
dev*
run*.sh


TODO*
setup_env.sh
my_log_file.txt
