# nextflow generated stuff
work
.nextflow.log*
.nextflow*
# user-related stuff
bin/
results*
RESULTS*
output*
moose_stuff/
*.i
*.csv
*.cub5
*-opt
.jitcache
*.jsonc
*.json
*runJob*
stderr*
stdout*
run_case*
*.png
basedir

*example*
*.log


TODO*
setup_env.sh
my_log_file.txt
