manifest {
    mainScript = "main.nf"
    author = "Josh Williams"
    description = "Nextflow workflow for performing UQ on MOOSE simulations"
}

profiles {
    sfpSKLlogin {
        includeConfig "conf/sfp_skl_login.config"
    }
    sfpSKLcompute {
        includeConfig "conf/sfp_skl_compute.config"
    }
    sfpGPU {
        includeConfig "conf/sfp_gpu.config"
    }
}

