singularity {
    enabled = true
    runOptions = "--bind $PWD"
}

manifest {
    mainScript = "main.nf"
    author = "Josh Williams"
    description = "Nextflow workflow for performing UQ on MOOSE simulations"
}

profiles {
    sfpSKLlogin {
        includeConfig "conf/sfp_skl_login.config"
    }
    sfpSKLcompute {
        includeConfig "conf/sfp_skl_compute.config"
    }
    sfpGPU {
        includeConfig "conf/sfp_gpu.config"
    }

// TODO: upload container to dockerhub!
process {
    withName:findMoose {
        container = '/home/ir-will17/rds/rds-ukaea-ap002-mOlK9qn0PlQ/ir-will17/singularity/uqapollo' 
    }
    withName:setupJobs {
        container = '/home/ir-will17/rds/rds-ukaea-ap002-mOlK9qn0PlQ/ir-will17/singularity/uqapollo'
    }
    withName:runJobs {
        container = '/home/ir-will17/rds/rds-ukaea-ap002-mOlK9qn0PlQ/ir-will17/singularity/uqapollo'
    }
}


