manifest {
    mainScript = "basic-example.nf"
    description = "Use Nextflow with LSF"
}

profiles {
    sfpSKL {
        includeConfig "conf/sfp_skl.config"
    }
    sfpSKLoffline {
        includeConfig "conf/sfp_skl_offline.config"
    }
    sfpGPU {
        includeConfig "conf/sfp_gpu.config"
    }
}

